{% extends "base.html" %}
{% block title %}Избранные записи{% endblock %}
{% block header %}Избранные записи{% endblock %}

{% block content %}
<div class="container">
    {% include "include/menu.html" with follow=True %}
    <!-- Вывод ленты записей -->
    {% if post.count != 0 %}
    {% for post in page %}
    <!-- Вот он, новый include! -->
    {% include "include/post_item.html" with post=post %}
    {% endfor %}

</div>
<!-- Вывод паджинатора -->
{% if page.has_other_pages %}
{% include "include/paginator.html" with items=page paginator=paginator%}
{% endif %}
{% else %}
    <h2>Подпишитесь на кого нибудь</h2>
    {% endif %}
{% endblock %}